[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
wakatime = "*"
django-bootstrap4 = "*"
django-markdownx = "*"
django-environ = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.7"
