<footer class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 text-center">
                <div class="py-2">
                    <h5 class="d-inline-block py-3 border-bottom border-info" >About</h5>
                    <div class="mx-5">
                        <img class="img-fluid rounded-circle" src="#" alt="">
                        <p>なんか適当にプロフィールを書く!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center">
                <div class="py-2">
                <h5 class="d-inline-block py-3 border-bottom border-info" >Links</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light"><a href="{% url 'index' %}">Home</a></li>
                        <li class="list-group-item bg-light"><a href="{% url 'meisho' %}">長岡市"迷"所案内</a></li>
                        <li class="list-group-item bg-light"><a href="{% url 'tabemono' %}">食べ物屋情報</a></li>
                        <li class="list-group-item bg-light"><a href="{% url 'nomiya' %}">飲み屋MAP</a></li>
                        <li class="list-group-item bg-light"><a href="{% url 'uwasa' %}">長岡市民のうわさ話</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center">
                <div class="py-2">
                    <h5 class="d-inline-block py-3 border-bottom border-info" >Information</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark text-white text-center py-2">なんとかかんとか @なんとか 2021 なんとかかんとか.</div>
</footer>
