<head>
    <div class="container">
        <div class="jumbotron text-dark rounded-0 mb-0">
            <h1 class="mb-1">長岡市非公認HOME Page！</h1>
            <p>Nagaoka City Unofficial Home Page!</p>
        </div>
        <nav class="navbar navbar-expand navbar-light bg-light mb-4">
            <ul class="navbar-nav"><a class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">Home</a></ul>
            <ul class="navbar-nav"><a class="nav-item nav-link {% if request.path == '/hanabi/' %}active{% endif %}" href="{% url 'hanabi' %}">長岡花火リンク集</a></ul>
            <ul class="navbar-nav"><a class="nav-item nav-link {% if request.path == '/meisho/' %}active{% endif %}" href="{% url 'meisho' %}">長岡市"迷"所案内</a></ul>
            <ul class="navbar-nav"><a class="nav-item nav-link {% if request.path == '/tabemono/' %}active{% endif %}" href="{% url 'tabemono' %}">食べ物屋情報</a></ul>
            <ul class="navbar-nav"><a class="nav-item nav-link {% if request.path == '/nomiya/' %}active{% endif %}" href="{% url 'nomiya' %}">飲み屋MAP</a></ul>
            <ul class="navbar-nav"><a class="nav-item nav-link {% if request.path == '/uwasa/' %}active{% endif %}" href="{% url 'uwasa' %}">長岡市民のうわさ話</a></ul>
            <ul class="navbar-nav"><a class="nav-item nav-link {% if request.path == '/blog/post_list/' %}active{% endif %}" href="{% url 'blog:post_list' %}">ブログ</a></ul>
        </nav>
    </div>
</head>
