{% extends "base.html" %}

{% block title %} Home page!!{% endblock %}

{% block content %}

    {% include "header.html" %}

    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">タイトル</th>
        <th scope="col">投稿日</th>
        <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        {% for post in post_list %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ post.title }}</td>
        <td>{{ post.date }}</td>
        <td>@mdo</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    {% include "footer.html" %}

{% endblock %}
